In [1]:
import pandas as pd
import numpy as np

In [2]:
series = pd.Series([7, 4,2, np.nan,6,9])

In [3]:
series

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [4]:
type(series)

pandas.core.series.Series

In [18]:
datas = pd.date_range('20180101', periods = 60, freq="D")

In [6]:
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21',
               '2019-08-22', '2019-08-23'],
              dtype='datetime64[ns]', length=600, freq='D')

In [7]:
type (datas)

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
df = pd.DataFrame(np.random.randn(60,5), index = datas, columns = list("ABCDE"))

In [20]:
np.random.randn(6,4)

array([[ 1.6946393 ,  1.16658384, -0.19283504,  1.06831755],
       [-1.12372397, -0.01097413, -0.90076613, -0.58456665],
       [ 0.036338  ,  0.15348537,  1.06316881,  0.95144763],
       [ 1.06768114,  1.48911529,  0.31063848,  0.43959121],
       [-1.30359634, -1.37496711,  1.15861506, -0.81474593],
       [ 1.11556941, -1.29080524,  1.56785705, -0.04305276]])

In [21]:
df

                   A         B         C         D         E
2018-01-01  1.105648  1.036463  0.879974  0.520497  0.721171
2018-01-02  0.858912 -0.782900 -0.465890  1.500197 -0.835431
2018-01-03  0.639966 -0.535812  1.020331 -0.698709 -1.241142
2018-01-04  1.267787  1.380189 -0.453648 -1.235109 -0.141287
2018-01-05  0.281303 -0.195528 -0.275791 -0.555487 -0.629233
2018-01-06 -0.474652 -2.046683 -0.713493 -1.592371 -0.020334
2018-01-07 -1.608983 -1.539584  1.214663 -0.070057 -1.093154
2018-01-08  0.740851 -0.820277 -0.654343 -1.171465  0.234636
2018-01-09  0.181248  0.259260 -0.530809  0.829780  1.221996
2018-01-10 -1.332481 -1.110348  0.627021 -0.789654  0.745881
2018-01-11 -0.282182  0.009999 -1.516446  0.782203  0.112076
2018-01-12  2.431233 -0.401777  0.897270 -0.393978 -0.311505
2018-01-13  0.463797  1.412194  0.493364 -0.423316 -0.634007
2018-01-14 -0.275543 -0.212455 -1.215601 -1.775604 -0.189489
2018-01-15  0.644208 -1.424605  0.553198 -0.408045  0.691738
2018-01-16 -1.254931 -0.535147  0.804976  0.587491 -0.869144
2018-01-17  0.599873  1.084429 -1.620793 -2.660386 -0.886026
2018-01-18 -1.841760  0.174060 -1.146657 -0.442833  0.223246
2018-01-19 -2.047632 -0.324144  0.610615  0.002657  0.579205
2018-01-20 -0.182940 -1.381253 -0.902767  0.311488  0.034794
2018-01-21 -0.585539  1.085162 -1.405953  1.733727  0.732137
2018-01-22  0.567682  1.924612 -0.880224  0.897055  0.076769
2018-01-23 -0.725533 -1.232331 -0.346924 -0.188862  1.315812
2018-01-24  0.580702 -0.945337 -0.315970  0.439842 -0.673356
2018-01-25 -1.777106 -0.745017 -0.050950  1.781867 -0.280202
2018-01-26 -0.014660  0.502874  0.912951  0.041280 -2.575828
2018-01-27  0.190303  0.274241 -0.521842 -0.073034  2.653538
2018-01-28  0.235417 -0.329355  0.521964  1.351969  0.094985
2018-01-29 -1.102345 -0.461880  0.831820  0.382937  0.433378
2018-01-30 -0.352768 -0.559078 -0.753116  0.954528 -0.245984
2018-01-31  0.054269 -0.367949 -1.617344 -0.101576 -1.433354
2018-02-01  1.255137  0.052891 -0.271125 -0.204497  0.828959
2018-02-02 -0.854061  0.378984  1.100645 -1.670569 -2.064395
2018-02-03  0.637643 -0.951046  0.062463 -0.262419  1.663563
2018-02-04 -0.735310  0.595444  1.115065 -0.566416  1.332046
2018-02-05 -0.038372  0.919876 -2.425576  0.791043 -0.762955
2018-02-06  1.508271 -1.132980 -0.802247 -0.015034 -0.615191
2018-02-07  0.780191 -2.687611 -0.287218  0.884017  0.287430
2018-02-08  0.195156 -3.126514 -0.849156 -0.404099 -1.541134
2018-02-09 -2.149658  0.491192  0.574046  0.802209  0.295003
2018-02-10 -0.391872  1.324012 -1.416008 -0.510459 -1.046895
2018-02-11 -0.745174 -0.825942 -0.067235  0.617013 -0.231587
2018-02-12 -0.295342 -1.233813 -0.044365  1.088118  0.832395
2018-02-13 -0.109977 -2.162667  0.538204 -0.158586  0.308714
2018-02-14 -0.133148  0.845862 -0.840802 -2.054503  0.063755
2018-02-15  0.759036 -1.664080 -0.532248  1.125968  2.216254
2018-02-16 -0.323156  0.287707  1.405686  1.265471  0.248209
2018-02-17  1.019289 -0.597731  0.382253 -0.896670 -1.632048
2018-02-18 -1.482014 -0.306411  0.959739  1.426802 -0.273556
2018-02-19  0.510000 -0.174594 -0.246726  0.051286  0.793497
2018-02-20  1.573552 -0.792810 -0.261682  0.368944  0.138917
2018-02-21 -0.381828  0.700537 -0.117785 -1.189142 -0.164615
2018-02-22 -0.460569 -0.447233 -0.931238  1.188047  0.323740
2018-02-23  0.660039  0.086511  0.418947 -2.435706  0.202650
2018-02-24 -1.150562 -0.962617  1.051035  1.536417  0.521411
2018-02-25 -0.077029  1.570970 -0.480498  1.510440 -1.188839
2018-02-26  0.382500  0.346890 -0.313632 -0.013704 -0.099881
2018-02-27  0.610617  0.090852 -1.485142 -0.903384  0.119321
2018-02-28  1.210790  0.337620 -1.029446  0.055505 -0.824820
2018-03-01  0.980337  1.084067  0.732386 -1.955318  0.238529

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df2 = pd.DataFrame({"A":7,
                   'B' : pd.Timestamp('20190101'),
                   'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                   "D" : np.array([3] * 4, dtype='int32'),
                   "E" : pd.Categorical(["test","train","test","train"]),
                   'F' : 'Python'})

In [16]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [17]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [22]:
df.shape

(60, 5)

In [23]:
df.head(3)

                   A         B         C         D         E
2018-01-01  1.105648  1.036463  0.879974  0.520497  0.721171
2018-01-02  0.858912 -0.782900 -0.465890  1.500197 -0.835431
2018-01-03  0.639966 -0.535812  1.020331 -0.698709 -1.241142

In [24]:
df['F'] = 1

In [25]:
df.head(10)

                   A         B         C         D         E  F
2018-01-01  1.105648  1.036463  0.879974  0.520497  0.721171  1
2018-01-02  0.858912 -0.782900 -0.465890  1.500197 -0.835431  1
2018-01-03  0.639966 -0.535812  1.020331 -0.698709 -1.241142  1
2018-01-04  1.267787  1.380189 -0.453648 -1.235109 -0.141287  1
2018-01-05  0.281303 -0.195528 -0.275791 -0.555487 -0.629233  1
2018-01-06 -0.474652 -2.046683 -0.713493 -1.592371 -0.020334  1
2018-01-07 -1.608983 -1.539584  1.214663 -0.070057 -1.093154  1
2018-01-08  0.740851 -0.820277 -0.654343 -1.171465  0.234636  1
2018-01-09  0.181248  0.259260 -0.530809  0.829780  1.221996  1
2018-01-10 -1.332481 -1.110348  0.627021 -0.789654  0.745881  1

In [26]:
df['G'] = range(60)

In [27]:
df.head(15)

                   A         B         C         D         E  F   G
2018-01-01  1.105648  1.036463  0.879974  0.520497  0.721171  1   0
2018-01-02  0.858912 -0.782900 -0.465890  1.500197 -0.835431  1   1
2018-01-03  0.639966 -0.535812  1.020331 -0.698709 -1.241142  1   2
2018-01-04  1.267787  1.380189 -0.453648 -1.235109 -0.141287  1   3
2018-01-05  0.281303 -0.195528 -0.275791 -0.555487 -0.629233  1   4
2018-01-06 -0.474652 -2.046683 -0.713493 -1.592371 -0.020334  1   5
2018-01-07 -1.608983 -1.539584  1.214663 -0.070057 -1.093154  1   6
2018-01-08  0.740851 -0.820277 -0.654343 -1.171465  0.234636  1   7
2018-01-09  0.181248  0.259260 -0.530809  0.829780  1.221996  1   8
2018-01-10 -1.332481 -1.110348  0.627021 -0.789654  0.745881  1   9
2018-01-11 -0.282182  0.009999 -1.516446  0.782203  0.112076  1  10
2018-01-12  2.431233 -0.401777  0.897270 -0.393978 -0.311505  1  11
2018-01-13  0.463797  1.412194  0.493364 -0.423316 -0.634007  1  12
2018-01-14 -0.275543 -0.212455 -1.215601 -1.775604 -0.189489  1  13
2018-01-15  0.644208 -1.424605  0.553198 -0.408045  0.691738  1  14

In [28]:
df['Produto'] = df['A'] * df['B']

In [29]:
df.head(3)

                   A         B         C         D         E  F  G   Produto
2018-01-01  1.105648  1.036463  0.879974  0.520497  0.721171  1  0  1.145964
2018-01-02  0.858912 -0.782900 -0.465890  1.500197 -0.835431  1  1 -0.672443
2018-01-03  0.639966 -0.535812  1.020331 -0.698709 -1.241142  1  2 -0.342902

In [31]:
df.head

<bound method NDFrame.head of                    A         B         C         D         E  F   G   Produto
2018-01-01  1.105648  1.036463  0.879974  0.520497  0.721171  1   0  1.145964
2018-01-02  0.858912 -0.782900 -0.465890  1.500197 -0.835431  1   1 -0.672443
2018-01-03  0.639966 -0.535812  1.020331 -0.698709 -1.241142  1   2 -0.342902
2018-01-04  1.267787  1.380189 -0.453648 -1.235109 -0.141287  1   3  1.749785
2018-01-05  0.281303 -0.195528 -0.275791 -0.555487 -0.629233  1   4 -0.055003
2018-01-06 -0.474652 -2.046683 -0.713493 -1.592371 -0.020334  1   5  0.971463
2018-01-07 -1.608983 -1.539584  1.214663 -0.070057 -1.093154  1   6  2.477164
2018-01-08  0.740851 -0.820277 -0.654343 -1.171465  0.234636  1   7 -0.607703
2018-01-09  0.181248  0.259260 -0.530809  0.829780  1.221996  1   8  0.046990
2018-01-10 -1.332481 -1.110348  0.627021 -0.789654  0.745881  1   9  1.479517
2018-01-11 -0.282182  0.009999 -1.516446  0.782203  0.112076  1  10 -0.002822
2018-01-12  2.431233 -0.401777  0.897270 -0.393978 -0.311505  1  11 -0.976813
2018-01-13  0.463797  1.412194  0.493364 -0.423316 -0.634007  1  12  0.654972
2018-01-14 -0.275543 -0.212455 -1.215601 -1.775604 -0.189489  1  13  0.058541
2018-01-15  0.644208 -1.424605  0.553198 -0.408045  0.691738  1  14 -0.917742
2018-01-16 -1.254931 -0.535147  0.804976  0.587491 -0.869144  1  15  0.671572
2018-01-17  0.599873  1.084429 -1.620793 -2.660386 -0.886026  1  16  0.650520
2018-01-18 -1.841760  0.174060 -1.146657 -0.442833  0.223246  1  17 -0.320577
2018-01-19 -2.047632 -0.324144  0.610615  0.002657  0.579205  1  18  0.663727
2018-01-20 -0.182940 -1.381253 -0.902767  0.311488  0.034794  1  19  0.252686
2018-01-21 -0.585539  1.085162 -1.405953  1.733727  0.732137  1  20 -0.635405
2018-01-22  0.567682  1.924612 -0.880224  0.897055  0.076769  1  21  1.092567
2018-01-23 -0.725533 -1.232331 -0.346924 -0.188862  1.315812  1  22  0.894098
2018-01-24  0.580702 -0.945337 -0.315970  0.439842 -0.673356  1  23 -0.548959
2018-01-25 -1.777106 -0.745017 -0.050950  1.781867 -0.280202  1  24  1.323974
2018-01-26 -0.014660  0.502874  0.912951  0.041280 -2.575828  1  25 -0.007372
2018-01-27  0.190303  0.274241 -0.521842 -0.073034  2.653538  1  26  0.052189
2018-01-28  0.235417 -0.329355  0.521964  1.351969  0.094985  1  27 -0.077536
2018-01-29 -1.102345 -0.461880  0.831820  0.382937  0.433378  1  28  0.509152
2018-01-30 -0.352768 -0.559078 -0.753116  0.954528 -0.245984  1  29  0.197225
2018-01-31  0.054269 -0.367949 -1.617344 -0.101576 -1.433354  1  30 -0.019968
2018-02-01  1.255137  0.052891 -0.271125 -0.204497  0.828959  1  31  0.066385
2018-02-02 -0.854061  0.378984  1.100645 -1.670569 -2.064395  1  32 -0.323675
2018-02-03  0.637643 -0.951046  0.062463 -0.262419  1.663563  1  33 -0.606428
2018-02-04 -0.735310  0.595444  1.115065 -0.566416  1.332046  1  34 -0.437836
2018-02-05 -0.038372  0.919876 -2.425576  0.791043 -0.762955  1  35 -0.035297
2018-02-06  1.508271 -1.132980 -0.802247 -0.015034 -0.615191  1  36 -1.708841
2018-02-07  0.780191 -2.687611 -0.287218  0.884017  0.287430  1  37 -2.096849
2018-02-08  0.195156 -3.126514 -0.849156 -0.404099 -1.541134  1  38 -0.610158
2018-02-09 -2.149658  0.491192  0.574046  0.802209  0.295003  1  39 -1.055894
2018-02-10 -0.391872  1.324012 -1.416008 -0.510459 -1.046895  1  40 -0.518844
2018-02-11 -0.745174 -0.825942 -0.067235  0.617013 -0.231587  1  41  0.615471
2018-02-12 -0.295342 -1.233813 -0.044365  1.088118  0.832395  1  42  0.364397
2018-02-13 -0.109977 -2.162667  0.538204 -0.158586  0.308714  1  43  0.237843
2018-02-14 -0.133148  0.845862 -0.840802 -2.054503  0.063755  1  44 -0.112625
2018-02-15  0.759036 -1.664080 -0.532248  1.125968  2.216254  1  45 -1.263096
2018-02-16 -0.323156  0.287707  1.405686  1.265471  0.248209  1  46 -0.092974
2018-02-17  1.019289 -0.597731  0.382253 -0.896670 -1.632048  1  47 -0.609261
2018-02-18 -1.482014 -0.306411  0.959739  1.426802 -0.273556  1  48  0.454106
2018-02-19  0.510000 -0.174594 -0.246726  0.051286  0.793497  1  49 -0.089043
2018-02-20  1.573552 -0.792810 -0.261682  0.368944  0.138917  1  50 -1.247527
2018-02-21 -0.381828  0.700537 -0.117785 -1.189142 -0.164615  1  51 -0.267485
2018-02-22 -0.460569 -0.447233 -0.931238  1.188047  0.323740  1  52  0.205981
2018-02-23  0.660039  0.086511  0.418947 -2.435706  0.202650  1  53  0.057101
2018-02-24 -1.150562 -0.962617  1.051035  1.536417  0.521411  1  54  1.107551
2018-02-25 -0.077029  1.570970 -0.480498  1.510440 -1.188839  1  55 -0.121011
2018-02-26  0.382500  0.346890 -0.313632 -0.013704 -0.099881  1  56  0.132686
2018-02-27  0.610617  0.090852 -1.485142 -0.903384  0.119321  1  57  0.055476
2018-02-28  1.210790  0.337620 -1.029446  0.055505 -0.824820  1  58  0.408787
2018-03-01  0.980337  1.084067  0.732386 -1.955318  0.238529  1  59  1.062750>

In [32]:
df['D'] = 88

In [33]:
df.head(3)

                   A         B         C   D         E  F  G   Produto
2018-01-01  1.105648  1.036463  0.879974  88  0.721171  1  0  1.145964
2018-01-02  0.858912 -0.782900 -0.465890  88 -0.835431  1  1 -0.672443
2018-01-03  0.639966 -0.535812  1.020331  88 -1.241142  1  2 -0.342902

In [34]:
df

                   A         B         C   D         E  F   G   Produto
2018-01-01  1.105648  1.036463  0.879974  88  0.721171  1   0  1.145964
2018-01-02  0.858912 -0.782900 -0.465890  88 -0.835431  1   1 -0.672443
2018-01-03  0.639966 -0.535812  1.020331  88 -1.241142  1   2 -0.342902
2018-01-04  1.267787  1.380189 -0.453648  88 -0.141287  1   3  1.749785
2018-01-05  0.281303 -0.195528 -0.275791  88 -0.629233  1   4 -0.055003
2018-01-06 -0.474652 -2.046683 -0.713493  88 -0.020334  1   5  0.971463
2018-01-07 -1.608983 -1.539584  1.214663  88 -1.093154  1   6  2.477164
2018-01-08  0.740851 -0.820277 -0.654343  88  0.234636  1   7 -0.607703
2018-01-09  0.181248  0.259260 -0.530809  88  1.221996  1   8  0.046990
2018-01-10 -1.332481 -1.110348  0.627021  88  0.745881  1   9  1.479517
2018-01-11 -0.282182  0.009999 -1.516446  88  0.112076  1  10 -0.002822
2018-01-12  2.431233 -0.401777  0.897270  88 -0.311505  1  11 -0.976813
2018-01-13  0.463797  1.412194  0.493364  88 -0.634007  1  12  0.654972
2018-01-14 -0.275543 -0.212455 -1.215601  88 -0.189489  1  13  0.058541
2018-01-15  0.644208 -1.424605  0.553198  88  0.691738  1  14 -0.917742
2018-01-16 -1.254931 -0.535147  0.804976  88 -0.869144  1  15  0.671572
2018-01-17  0.599873  1.084429 -1.620793  88 -0.886026  1  16  0.650520
2018-01-18 -1.841760  0.174060 -1.146657  88  0.223246  1  17 -0.320577
2018-01-19 -2.047632 -0.324144  0.610615  88  0.579205  1  18  0.663727
2018-01-20 -0.182940 -1.381253 -0.902767  88  0.034794  1  19  0.252686
2018-01-21 -0.585539  1.085162 -1.405953  88  0.732137  1  20 -0.635405
2018-01-22  0.567682  1.924612 -0.880224  88  0.076769  1  21  1.092567
2018-01-23 -0.725533 -1.232331 -0.346924  88  1.315812  1  22  0.894098
2018-01-24  0.580702 -0.945337 -0.315970  88 -0.673356  1  23 -0.548959
2018-01-25 -1.777106 -0.745017 -0.050950  88 -0.280202  1  24  1.323974
2018-01-26 -0.014660  0.502874  0.912951  88 -2.575828  1  25 -0.007372
2018-01-27  0.190303  0.274241 -0.521842  88  2.653538  1  26  0.052189
2018-01-28  0.235417 -0.329355  0.521964  88  0.094985  1  27 -0.077536
2018-01-29 -1.102345 -0.461880  0.831820  88  0.433378  1  28  0.509152
2018-01-30 -0.352768 -0.559078 -0.753116  88 -0.245984  1  29  0.197225
2018-01-31  0.054269 -0.367949 -1.617344  88 -1.433354  1  30 -0.019968
2018-02-01  1.255137  0.052891 -0.271125  88  0.828959  1  31  0.066385
2018-02-02 -0.854061  0.378984  1.100645  88 -2.064395  1  32 -0.323675
2018-02-03  0.637643 -0.951046  0.062463  88  1.663563  1  33 -0.606428
2018-02-04 -0.735310  0.595444  1.115065  88  1.332046  1  34 -0.437836
2018-02-05 -0.038372  0.919876 -2.425576  88 -0.762955  1  35 -0.035297
2018-02-06  1.508271 -1.132980 -0.802247  88 -0.615191  1  36 -1.708841
2018-02-07  0.780191 -2.687611 -0.287218  88  0.287430  1  37 -2.096849
2018-02-08  0.195156 -3.126514 -0.849156  88 -1.541134  1  38 -0.610158
2018-02-09 -2.149658  0.491192  0.574046  88  0.295003  1  39 -1.055894
2018-02-10 -0.391872  1.324012 -1.416008  88 -1.046895  1  40 -0.518844
2018-02-11 -0.745174 -0.825942 -0.067235  88 -0.231587  1  41  0.615471
2018-02-12 -0.295342 -1.233813 -0.044365  88  0.832395  1  42  0.364397
2018-02-13 -0.109977 -2.162667  0.538204  88  0.308714  1  43  0.237843
2018-02-14 -0.133148  0.845862 -0.840802  88  0.063755  1  44 -0.112625
2018-02-15  0.759036 -1.664080 -0.532248  88  2.216254  1  45 -1.263096
2018-02-16 -0.323156  0.287707  1.405686  88  0.248209  1  46 -0.092974
2018-02-17  1.019289 -0.597731  0.382253  88 -1.632048  1  47 -0.609261
2018-02-18 -1.482014 -0.306411  0.959739  88 -0.273556  1  48  0.454106
2018-02-19  0.510000 -0.174594 -0.246726  88  0.793497  1  49 -0.089043
2018-02-20  1.573552 -0.792810 -0.261682  88  0.138917  1  50 -1.247527
2018-02-21 -0.381828  0.700537 -0.117785  88 -0.164615  1  51 -0.267485
2018-02-22 -0.460569 -0.447233 -0.931238  88  0.323740  1  52  0.205981
2018-02-23  0.660039  0.086511  0.418947  88  0.202650  1  53  0.057101
2018-02-24 -1.150562 -0.962617  1.051035  88  0.521411  1  54  1.107551
2018-02-25 -0.077029  1.570970 -0.480498  88 -1.188839  1  55 -0.121011
2018-02-26  0.382500  0.346890 -0.313632  88 -0.099881  1  56  0.132686
2018-02-27  0.610617  0.090852 -1.485142  88  0.119321  1  57  0.055476
2018-02-28  1.210790  0.337620 -1.029446  88 -0.824820  1  58  0.408787
2018-03-01  0.980337  1.084067  0.732386  88  0.238529  1  59  1.062750

In [35]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [36]:
df.head(2)

                   A         B         C   D         E  F  G   Produto
2018-01-01  1.105648  1.036463  0.879974  88  0.721171  1  0  1.145964
2018-01-02  0.858912 -0.782900 -0.465890  88 -0.835431  1  1 -0.672443

In [38]:
df.tail(3)

                   A         B         C   D         E  F   G   Produto
2018-02-27  0.610617  0.090852 -1.485142  88  0.119321  1  57  0.055476
2018-02-28  1.210790  0.337620 -1.029446  88 -0.824820  1  58  0.408787
2018-03-01  0.980337  1.084067  0.732386  88  0.238529  1  59  1.062750

In [39]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
               '2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05',
               '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-10', '2018-02-11', '2018-02-12', '2018-02-13',
               '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17',
               '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21',
               '2018-02-22', '2018-02-23', '2018-02-24', '2018-02-25',
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01'],
              dtype='datetime64[ns]', freq='D')

In [40]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Produto'], dtype='object')

In [41]:
c = df.columns

In [42]:
c

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Produto'], dtype='object')

In [43]:
df.to_numpy()

array([[ 1.10564822e+00,  1.03646328e+00,  8.79973951e-01,
         8.80000000e+01,  7.21170659e-01,  1.00000000e+00,
         0.00000000e+00,  1.14596378e+00],
       [ 8.58912258e-01, -7.82900163e-01, -4.65889693e-01,
         8.80000000e+01, -8.35431420e-01,  1.00000000e+00,
         1.00000000e+00, -6.72442547e-01],
       [ 6.39966320e-01, -5.35812102e-01,  1.02033101e+00,
         8.80000000e+01, -1.24114246e+00,  1.00000000e+00,
         2.00000000e+00, -3.42901699e-01],
       [ 1.26778703e+00,  1.38018872e+00, -4.53648167e-01,
         8.80000000e+01, -1.41287099e-01,  1.00000000e+00,
         3.00000000e+00,  1.74978536e+00],
       [ 2.81303189e-01, -1.95528091e-01, -2.75790991e-01,
         8.80000000e+01, -6.29232524e-01,  1.00000000e+00,
         4.00000000e+00, -5.50026755e-02],
       [-4.74652473e-01, -2.04668299e+00, -7.13493262e-01,
         8.80000000e+01, -2.03335988e-02,  1.00000000e+00,
         5.00000000e+00,  9.71463142e-01],
       [-1.60898270e+00, -1.53958399e+00,  1.21466296e+00,
         8.80000000e+01, -1.09315352e+00,  1.00000000e+00,
         6.00000000e+00,  2.47716401e+00],
       [ 7.40850727e-01, -8.20277479e-01, -6.54343127e-01,
         8.80000000e+01,  2.34635860e-01,  1.00000000e+00,
         7.00000000e+00, -6.07703166e-01],
       [ 1.81247908e-01,  2.59259727e-01, -5.30809303e-01,
         8.80000000e+01,  1.22199631e+00,  1.00000000e+00,
         8.00000000e+00,  4.69902831e-02],
       [-1.33248067e+00, -1.11034785e+00,  6.27021153e-01,
         8.80000000e+01,  7.45881463e-01,  1.00000000e+00,
         9.00000000e+00,  1.47951704e+00],
       [-2.82181812e-01,  9.99932349e-03, -1.51644616e+00,
         8.80000000e+01,  1.12075678e-01,  1.00000000e+00,
         1.00000000e+01, -2.82162722e-03],
       [ 2.43123318e+00, -4.01776910e-01,  8.97269792e-01,
         8.80000000e+01, -3.11505446e-01,  1.00000000e+00,
         1.10000000e+01, -9.76813356e-01],
       [ 4.63797349e-01,  1.41219427e+00,  4.93363735e-01,
         8.80000000e+01, -6.34007174e-01,  1.00000000e+00,
         1.20000000e+01,  6.54971958e-01],
       [-2.75543354e-01, -2.12454782e-01, -1.21560134e+00,
         8.80000000e+01, -1.89488768e-01,  1.00000000e+00,
         1.30000000e+01,  5.85405031e-02],
       [ 6.44207606e-01, -1.42460523e+00,  5.53198343e-01,
         8.80000000e+01,  6.91737998e-01,  1.00000000e+00,
         1.40000000e+01, -9.17741527e-01],
       [-1.25493084e+00, -5.35146954e-01,  8.04975986e-01,
         8.80000000e+01, -8.69143951e-01,  1.00000000e+00,
         1.50000000e+01,  6.71572418e-01],
       [ 5.99873355e-01,  1.08442948e+00, -1.62079323e+00,
         8.80000000e+01, -8.86025773e-01,  1.00000000e+00,
         1.60000000e+01,  6.50520348e-01],
       [-1.84176030e+00,  1.74059887e-01, -1.14665665e+00,
         8.80000000e+01,  2.23246000e-01,  1.00000000e+00,
         1.70000000e+01, -3.20576589e-01],
       [-2.04763203e+00, -3.24143505e-01,  6.10614957e-01,
         8.80000000e+01,  5.79205491e-01,  1.00000000e+00,
         1.80000000e+01,  6.63726624e-01],
       [-1.82939606e-01, -1.38125349e+00, -9.02767269e-01,
         8.80000000e+01,  3.47940136e-02,  1.00000000e+00,
         1.90000000e+01,  2.52685969e-01],
       [-5.85538840e-01,  1.08516241e+00, -1.40595259e+00,
         8.80000000e+01,  7.32137412e-01,  1.00000000e+00,
         2.00000000e+01, -6.35404740e-01],
       [ 5.67681654e-01,  1.92461156e+00, -8.80224263e-01,
         8.80000000e+01,  7.67694708e-02,  1.00000000e+00,
         2.10000000e+01,  1.09256667e+00],
       [-7.25533460e-01, -1.23233121e+00, -3.46923579e-01,
         8.80000000e+01,  1.31581163e+00,  1.00000000e+00,
         2.20000000e+01,  8.94097529e-01],
       [ 5.80701715e-01, -9.45337101e-01, -3.15970173e-01,
         8.80000000e+01, -6.73356267e-01,  1.00000000e+00,
         2.30000000e+01, -5.48958876e-01],
       [-1.77710578e+00, -7.45017087e-01, -5.09503718e-02,
         8.80000000e+01, -2.80201530e-01,  1.00000000e+00,
         2.40000000e+01,  1.32397417e+00],
       [-1.46602644e-02,  5.02873724e-01,  9.12951422e-01,
         8.80000000e+01, -2.57582762e+00,  1.00000000e+00,
         2.50000000e+01, -7.37226174e-03],
       [ 1.90302856e-01,  2.74240714e-01, -5.21841625e-01,
         8.80000000e+01,  2.65353819e+00,  1.00000000e+00,
         2.60000000e+01,  5.21887912e-02],
       [ 2.35417362e-01, -3.29355205e-01,  5.21963887e-01,
         8.80000000e+01,  9.49847338e-02,  1.00000000e+00,
         2.70000000e+01, -7.75359336e-02],
       [-1.10234484e+00, -4.61880450e-01,  8.31819735e-01,
         8.80000000e+01,  4.33377825e-01,  1.00000000e+00,
         2.80000000e+01,  5.09151531e-01],
       [-3.52767843e-01, -5.59078163e-01, -7.53116481e-01,
         8.80000000e+01, -2.45983939e-01,  1.00000000e+00,
         2.90000000e+01,  1.97224798e-01],
       [ 5.42694105e-02, -3.67948955e-01, -1.61734418e+00,
         8.80000000e+01, -1.43335444e+00,  1.00000000e+00,
         3.00000000e+01, -1.99683729e-02],
       [ 1.25513694e+00,  5.28907271e-02, -2.71124859e-01,
         8.80000000e+01,  8.28958574e-01,  1.00000000e+00,
         3.10000000e+01,  6.63851052e-02],
       [-8.54060696e-01,  3.78983663e-01,  1.10064501e+00,
         8.80000000e+01, -2.06439491e+00,  1.00000000e+00,
         3.20000000e+01, -3.23675051e-01],
       [ 6.37643309e-01, -9.51045648e-01,  6.24633682e-02,
         8.80000000e+01,  1.66356323e+00,  1.00000000e+00,
         3.30000000e+01, -6.06427894e-01],
       [-7.35310114e-01,  5.95443591e-01,  1.11506491e+00,
         8.80000000e+01,  1.33204585e+00,  1.00000000e+00,
         3.40000000e+01, -4.37835695e-01],
       [-3.83715761e-02,  9.19876075e-01, -2.42557626e+00,
         8.80000000e+01, -7.62954696e-01,  1.00000000e+00,
         3.50000000e+01, -3.52970948e-02],
       [ 1.50827058e+00, -1.13298047e+00, -8.02247090e-01,
         8.80000000e+01, -6.15191412e-01,  1.00000000e+00,
         3.60000000e+01, -1.70884111e+00],
       [ 7.80190743e-01, -2.68761082e+00, -2.87218241e-01,
         8.80000000e+01,  2.87430494e-01,  1.00000000e+00,
         3.70000000e+01, -2.09684908e+00],
       [ 1.95155977e-01, -3.12651361e+00, -8.49156312e-01,
         8.80000000e+01, -1.54113422e+00,  1.00000000e+00,
         3.80000000e+01, -6.10157819e-01],
       [-2.14965832e+00,  4.91191503e-01,  5.74046431e-01,
         8.80000000e+01,  2.95003034e-01,  1.00000000e+00,
         3.90000000e+01, -1.05589390e+00],
       [-3.91872432e-01,  1.32401161e+00, -1.41600817e+00,
         8.80000000e+01, -1.04689456e+00,  1.00000000e+00,
         4.00000000e+01, -5.18843648e-01],
       [-7.45174428e-01, -8.25942084e-01, -6.72352659e-02,
         8.80000000e+01, -2.31587288e-01,  1.00000000e+00,
         4.10000000e+01,  6.15470920e-01],
       [-2.95342392e-01, -1.23381338e+00, -4.43653181e-02,
         8.80000000e+01,  8.32395290e-01,  1.00000000e+00,
         4.20000000e+01,  3.64397395e-01],
       [-1.09976852e-01, -2.16266718e+00,  5.38203987e-01,
         8.80000000e+01,  3.08713790e-01,  1.00000000e+00,
         4.30000000e+01,  2.37843330e-01],
       [-1.33148373e-01,  8.45862290e-01, -8.40801692e-01,
         8.80000000e+01,  6.37550034e-02,  1.00000000e+00,
         4.40000000e+01, -1.12625188e-01],
       [ 7.59035950e-01, -1.66407971e+00, -5.32247531e-01,
         8.80000000e+01,  2.21625357e+00,  1.00000000e+00,
         4.50000000e+01, -1.26309632e+00],
       [-3.23156089e-01,  2.87706742e-01,  1.40568562e+00,
         8.80000000e+01,  2.48208733e-01,  1.00000000e+00,
         4.60000000e+01, -9.29741855e-02],
       [ 1.01928909e+00, -5.97731480e-01,  3.82253021e-01,
         8.80000000e+01, -1.63204763e+00,  1.00000000e+00,
         4.70000000e+01, -6.09261177e-01],
       [-1.48201443e+00, -3.06411352e-01,  9.59739041e-01,
         8.80000000e+01, -2.73556044e-01,  1.00000000e+00,
         4.80000000e+01,  4.54106046e-01],
       [ 5.09999822e-01, -1.74593966e-01, -2.46725706e-01,
         8.80000000e+01,  7.93497200e-01,  1.00000000e+00,
         4.90000000e+01, -8.90428915e-02],
       [ 1.57355206e+00, -7.92809504e-01, -2.61681972e-01,
         8.80000000e+01,  1.38917203e-01,  1.00000000e+00,
         5.00000000e+01, -1.24752703e+00],
       [-3.81828439e-01,  7.00536934e-01, -1.17785339e-01,
         8.80000000e+01, -1.64615379e-01,  1.00000000e+00,
         5.10000000e+01, -2.67484924e-01],
       [-4.60568609e-01, -4.47232856e-01, -9.31238050e-01,
         8.80000000e+01,  3.23739916e-01,  1.00000000e+00,
         5.20000000e+01,  2.05981414e-01],
       [ 6.60038810e-01,  8.65111365e-02,  4.18947214e-01,
         8.80000000e+01,  2.02650423e-01,  1.00000000e+00,
         5.30000000e+01,  5.71007076e-02],
       [-1.15056216e+00, -9.62616931e-01,  1.05103467e+00,
         8.80000000e+01,  5.21410992e-01,  1.00000000e+00,
         5.40000000e+01,  1.10755061e+00],
       [-7.70293932e-02,  1.57097036e+00, -4.80497988e-01,
         8.80000000e+01, -1.18883922e+00,  1.00000000e+00,
         5.50000000e+01, -1.21010893e-01],
       [ 3.82500198e-01,  3.46890070e-01, -3.13631828e-01,
         8.80000000e+01, -9.98805748e-02,  1.00000000e+00,
         5.60000000e+01,  1.32685520e-01],
       [ 6.10617381e-01,  9.08522905e-02, -1.48514243e+00,
         8.80000000e+01,  1.19320629e-01,  1.00000000e+00,
         5.70000000e+01,  5.54759877e-02],
       [ 1.21079025e+00,  3.37619745e-01, -1.02944562e+00,
         8.80000000e+01, -8.24820172e-01,  1.00000000e+00,
         5.80000000e+01,  4.08786696e-01],
       [ 9.80336547e-01,  1.08406675e+00,  7.32386423e-01,
         8.80000000e+01,  2.38529262e-01,  1.00000000e+00,
         5.90000000e+01,  1.06275025e+00]])

In [44]:
df.T

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08,2018-01-09,2018-01-10,...,2018-02-20,2018-02-21,2018-02-22,2018-02-23,2018-02-24,2018-02-25,2018-02-26,2018-02-27,2018-02-28,2018-03-01
A,1.105648,0.858912,0.639966,1.267787,0.281303,-0.474652,-1.608983,0.740851,0.181248,-1.332481,...,1.573552,-0.381828,-0.460569,0.660039,-1.150562,-0.077029,0.382500,0.610617,1.210790,0.980337
B,1.036463,-0.782900,-0.535812,1.380189,-0.195528,-2.046683,-1.539584,-0.820277,0.259260,-1.110348,...,-0.792810,0.700537,-0.447233,0.086511,-0.962617,1.570970,0.346890,0.090852,0.337620,1.084067
C,0.879974,-0.465890,1.020331,-0.453648,-0.275791,-0.713493,1.214663,-0.654343,-0.530809,0.627021,...,-0.261682,-0.117785,-0.931238,0.418947,1.051035,-0.480498,-0.313632,-1.485142,-1.029446,0.732386
D,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,...,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
E,0.721171,-0.835431,-1.241142,-0.141287,-0.629233,-0.020334,-1.093154,0.234636,1.221996,0.745881,...,0.138917,-0.164615,0.323740,0.202650,0.521411,-1.188839,-0.099881,0.119321,-0.824820,0.238529
F,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
G,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,50.000000,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000
Produto,1.145964,-0.672443,-0.342902,1.749785,-0.055003,0.971463,2.477164,-0.607703,0.046990,1.479517,...,-1.247527,-0.267485,0.205981,0.057101,1.107551,-0.121011,0.132686,0.055476,0.408787,1.062750

In [45]:
df2.T

,0,1,2,3
A,7,7,7,7
B,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,Python,Python,Python,Python

In [46]:
df2.to_numpy()

array([[7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'test', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'train', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'test', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'train', 'Python']],
      dtype=object)

In [47]:
df3 = pd.DataFrame({'A' : ['A8','A9','A10','A11'],
                   'B' : ['B8','B9', 'B10', 'B11'],
                   'C' : ['C8', 'C9', 'C10', 'C11'],
                   'D' : ['D8', 'D9', 'D10', 'D11']},
                   index=[8,8,10,11])

In [49]:
frames = [df, df2, df3]

In [51]:
frames

[                   A         B         C   D         E  F   G   Produto
 2018-01-01  1.105648  1.036463  0.879974  88  0.721171  1   0  1.145964
 2018-01-02  0.858912 -0.782900 -0.465890  88 -0.835431  1   1 -0.672443
 2018-01-03  0.639966 -0.535812  1.020331  88 -1.241142  1   2 -0.342902
 2018-01-04  1.267787  1.380189 -0.453648  88 -0.141287  1   3  1.749785
 2018-01-05  0.281303 -0.195528 -0.275791  88 -0.629233  1   4 -0.055003
 2018-01-06 -0.474652 -2.046683 -0.713493  88 -0.020334  1   5  0.971463
 2018-01-07 -1.608983 -1.539584  1.214663  88 -1.093154  1   6  2.477164
 2018-01-08  0.740851 -0.820277 -0.654343  88  0.234636  1   7 -0.607703
 2018-01-09  0.181248  0.259260 -0.530809  88  1.221996  1   8  0.046990
 2018-01-10 -1.332481 -1.110348  0.627021  88  0.745881  1   9  1.479517
 2018-01-11 -0.282182  0.009999 -1.516446  88  0.112076  1  10 -0.002822
 2018-01-12  2.431233 -0.401777  0.897270  88 -0.311505  1  11 -0.976813
 2018-01-13  0.463797  1.412194  0.493364  88 -0.634007  1  12  0.654972
 2018-01-14 -0.275543 -0.212455 -1.215601  88 -0.189489  1  13  0.058541
 2018-01-15  0.644208 -1.424605  0.553198  88  0.691738  1  14 -0.917742
 2018-01-16 -1.254931 -0.535147  0.804976  88 -0.869144  1  15  0.671572
 2018-01-17  0.599873  1.084429 -1.620793  88 -0.886026  1  16  0.650520
 2018-01-18 -1.841760  0.174060 -1.146657  88  0.223246  1  17 -0.320577
 2018-01-19 -2.047632 -0.324144  0.610615  88  0.579205  1  18  0.663727
 2018-01-20 -0.182940 -1.381253 -0.902767  88  0.034794  1  19  0.252686
 2018-01-21 -0.585539  1.085162 -1.405953  88  0.732137  1  20 -0.635405
 2018-01-22  0.567682  1.924612 -0.880224  88  0.076769  1  21  1.092567
 2018-01-23 -0.725533 -1.232331 -0.346924  88  1.315812  1  22  0.894098
 2018-01-24  0.580702 -0.945337 -0.315970  88 -0.673356  1  23 -0.548959
 2018-01-25 -1.777106 -0.745017 -0.050950  88 -0.280202  1  24  1.323974
 2018-01-26 -0.014660  0.502874  0.912951  88 -2.575828  1  25 -0.007372
 2018-01-27  0.190303  0.274241 -0.521842  88  2.653538  1  26  0.052189
 2018-01-28  0.235417 -0.329355  0.521964  88  0.094985  1  27 -0.077536
 2018-01-29 -1.102345 -0.461880  0.831820  88  0.433378  1  28  0.509152
 2018-01-30 -0.352768 -0.559078 -0.753116  88 -0.245984  1  29  0.197225
 2018-01-31  0.054269 -0.367949 -1.617344  88 -1.433354  1  30 -0.019968
 2018-02-01  1.255137  0.052891 -0.271125  88  0.828959  1  31  0.066385
 2018-02-02 -0.854061  0.378984  1.100645  88 -2.064395  1  32 -0.323675
 2018-02-03  0.637643 -0.951046  0.062463  88  1.663563  1  33 -0.606428
 2018-02-04 -0.735310  0.595444  1.115065  88  1.332046  1  34 -0.437836
 2018-02-05 -0.038372  0.919876 -2.425576  88 -0.762955  1  35 -0.035297
 2018-02-06  1.508271 -1.132980 -0.802247  88 -0.615191  1  36 -1.708841
 2018-02-07  0.780191 -2.687611 -0.287218  88  0.287430  1  37 -2.096849
 2018-02-08  0.195156 -3.126514 -0.849156  88 -1.541134  1  38 -0.610158
 2018-02-09 -2.149658  0.491192  0.574046  88  0.295003  1  39 -1.055894
 2018-02-10 -0.391872  1.324012 -1.416008  88 -1.046895  1  40 -0.518844
 2018-02-11 -0.745174 -0.825942 -0.067235  88 -0.231587  1  41  0.615471
 2018-02-12 -0.295342 -1.233813 -0.044365  88  0.832395  1  42  0.364397
 2018-02-13 -0.109977 -2.162667  0.538204  88  0.308714  1  43  0.237843
 2018-02-14 -0.133148  0.845862 -0.840802  88  0.063755  1  44 -0.112625
 2018-02-15  0.759036 -1.664080 -0.532248  88  2.216254  1  45 -1.263096
 2018-02-16 -0.323156  0.287707  1.405686  88  0.248209  1  46 -0.092974
 2018-02-17  1.019289 -0.597731  0.382253  88 -1.632048  1  47 -0.609261
 2018-02-18 -1.482014 -0.306411  0.959739  88 -0.273556  1  48  0.454106
 2018-02-19  0.510000 -0.174594 -0.246726  88  0.793497  1  49 -0.089043
 2018-02-20  1.573552 -0.792810 -0.261682  88  0.138917  1  50 -1.247527
 2018-02-21 -0.381828  0.700537 -0.117785  88 -0.164615  1  51 -0.267485
 2018-02-22 -0.460569 -0.447233 -0.931238  88  0.323740  1  52  0.205981
 2018-02-23  0.660039  0.086511  0.418947  88  0.202650  1  53  0.057101
 2018-02-24 -1.150562 -0.962617  1.051035  88  0.521411  1  54  1.107551
 2018-02-25 -0.077029  1.570970 -0.480498  88 -1.188839  1  55 -0.121011
 2018-02-26  0.382500  0.346890 -0.313632  88 -0.099881  1  56  0.132686
 2018-02-27  0.610617  0.090852 -1.485142  88  0.119321  1  57  0.055476
 2018-02-28  1.210790  0.337620 -1.029446  88 -0.824820  1  58  0.408787
 2018-03-01  0.980337  1.084067  0.732386  88  0.238529  1  59  1.062750,
    A          B    C  D      E       F
 0  7 2019-01-01  1.0  3   test  Python
 1  7 2019-01-01  1.0  3  train  Python
 2  7 2019-01-01  1.0  3   test  Python
 3  7 2019-01-01  1.0  3  train  Python,
       A    B    C    D
 8    A8   B8   C8   D8
 8    A9   B9   C9   D9
 10  A10  B10  C10  D10
 11  A11  B11  C11  D11]

In [52]:
type(frames)

list

In [53]:
framesCombinados = pd.concat(frames)

In [54]:
framesCombinados

,A,B,C,D,E,F,G,Produto
2018-01-01 00:00:00,1.105648,1.036463,0.879974,88,0.721171,1,0.0,1.145964
2018-01-02 00:00:00,0.858912,-0.7829,-0.46589,88,-0.835431,1,1.0,-0.672443
2018-01-03 00:00:00,0.639966,-0.535812,1.020331,88,-1.241142,1,2.0,-0.342902
2018-01-04 00:00:00,1.267787,1.380189,-0.453648,88,-0.141287,1,3.0,1.749785
2018-01-05 00:00:00,0.281303,-0.195528,-0.275791,88,-0.629233,1,4.0,-0.055003
...,...,...,...,...,...,...,...,...
3,7,2019-01-01 00:00:00,1.0,3,train,Python,NaN,NaN
8,A8,B8,C8,D8,NaN,NaN,NaN,NaN
8,A9,B9,C9,D9,NaN,NaN,NaN,NaN
10,A10,B10,C10,D10,NaN,NaN,NaN,NaN
11,A11,B11,C11,D11,NaN,NaN,NaN,NaN

In [55]:
type(framesCombinados)

pandas.core.frame.DataFrame

In [57]:
framesCombinados2 = pd.concat([df,df2,df3])

In [58]:
framesCombinados2

,A,B,C,D,E,F,G,Produto
2018-01-01 00:00:00,1.105648,1.036463,0.879974,88,0.721171,1,0.0,1.145964
2018-01-02 00:00:00,0.858912,-0.7829,-0.46589,88,-0.835431,1,1.0,-0.672443
2018-01-03 00:00:00,0.639966,-0.535812,1.020331,88,-1.241142,1,2.0,-0.342902
2018-01-04 00:00:00,1.267787,1.380189,-0.453648,88,-0.141287,1,3.0,1.749785
2018-01-05 00:00:00,0.281303,-0.195528,-0.275791,88,-0.629233,1,4.0,-0.055003
...,...,...,...,...,...,...,...,...
3,7,2019-01-01 00:00:00,1.0,3,train,Python,NaN,NaN
8,A8,B8,C8,D8,NaN,NaN,NaN,NaN
8,A9,B9,C9,D9,NaN,NaN,NaN,NaN
10,A10,B10,C10,D10,NaN,NaN,NaN,NaN
11,A11,B11,C11,D11,NaN,NaN,NaN,NaN

In [61]:
grupo = pd.concat([df,df2,df3], keys=['f1','f2','f3'])

In [62]:
grupo

                               A                    B         C    D  \
f1 2018-01-01 00:00:00  1.105648             1.036463  0.879974   88
   2018-01-02 00:00:00  0.858912              -0.7829  -0.46589   88
   2018-01-03 00:00:00  0.639966            -0.535812  1.020331   88
   2018-01-04 00:00:00  1.267787             1.380189 -0.453648   88
   2018-01-05 00:00:00  0.281303            -0.195528 -0.275791   88
...                          ...                  ...       ...  ...
f2 3                           7  2019-01-01 00:00:00       1.0    3
f3 8                          A8                   B8        C8   D8
   8                          A9                   B9        C9   D9
   10                        A10                  B10       C10  D10
   11                        A11                  B11       C11  D11

                               E       F    G   Produto
f1 2018-01-01 00:00:00  0.721171       1  0.0  1.145964
   2018-01-02 00:00:00 -0.835431       1  1.0 -0.672443
   2018-01-03 00:00:00 -1.241142       1  2.0 -0.342902
   2018-01-04 00:00:00 -0.141287       1  3.0  1.749785
   2018-01-05 00:00:00 -0.629233       1  4.0 -0.055003
...                          ...     ...  ...       ...
f2 3                       train  Python  NaN       NaN
f3 8                         NaN     NaN  NaN       NaN
   8                         NaN     NaN  NaN       NaN
   10                        NaN     NaN  NaN       NaN
   11                        NaN     NaN  NaN       NaN

[68 rows x 8 columns]

In [64]:
grupo ['A']

f1  2018-01-01 00:00:00    1.105648
    2018-01-02 00:00:00    0.858912
    2018-01-03 00:00:00    0.639966
    2018-01-04 00:00:00    1.267787
    2018-01-05 00:00:00    0.281303
                             ...
f2  3                             7
f3  8                            A8
    8                            A9
    10                          A10
    11                          A11
Name: A, Length: 68, dtype: object

In [65]:
grupo.loc['f1']

,A,B,C,D,E,F,G,Produto
2018-01-01 00:00:00,1.105648,1.036463,0.879974,88,0.721171,1,0.0,1.145964
2018-01-02 00:00:00,0.858912,-0.7829,-0.46589,88,-0.835431,1,1.0,-0.672443
2018-01-03 00:00:00,0.639966,-0.535812,1.020331,88,-1.241142,1,2.0,-0.342902
2018-01-04 00:00:00,1.267787,1.380189,-0.453648,88,-0.141287,1,3.0,1.749785
2018-01-05 00:00:00,0.281303,-0.195528,-0.275791,88,-0.629233,1,4.0,-0.055003
2018-01-06 00:00:00,-0.474652,-2.046683,-0.713493,88,-0.020334,1,5.0,0.971463
2018-01-07 00:00:00,-1.608983,-1.539584,1.214663,88,-1.093154,1,6.0,2.477164
2018-01-08 00:00:00,0.740851,-0.820277,-0.654343,88,0.234636,1,7.0,-0.607703
2018-01-09 00:00:00,0.181248,0.25926,-0.530809,88,1.221996,1,8.0,0.046990
2018-01-10 00:00:00,-1.332481,-1.110348,0.627021,88,0.745881,1,9.0,1.479517
2018-01-11 00:00:00,-0.282182,0.009999,-1.516446,88,0.112076,1,10.0,-0.002822
2018-01-12 00:00:00,2.431233,-0.401777,0.89727,88,-0.311505,1,11.0,-0.976813
2018-01-13 00:00:00,0.463797,1.412194,0.493364,88,-0.634007,1,12.0,0.654972
2018-01-14 00:00:00,-0.275543,-0.212455,-1.215601,88,-0.189489,1,13.0,0.058541
2018-01-15 00:00:00,0.644208,-1.424605,0.553198,88,0.691738,1,14.0,-0.917742
2018-01-16 00:00:00,-1.254931,-0.535147,0.804976,88,-0.869144,1,15.0,0.671572
2018-01-17 00:00:00,0.599873,1.084429,-1.620793,88,-0.886026,1,16.0,0.650520
2018-01-18 00:00:00,-1.84176,0.17406,-1.146657,88,0.223246,1,17.0,-0.320577
2018-01-19 00:00:00,-2.047632,-0.324144,0.610615,88,0.579205,1,18.0,0.663727
2018-01-20 00:00:00,-0.18294,-1.381253,-0.902767,88,0.034794,1,19.0,0.252686
2018-01-21 00:00:00,-0.585539,1.085162,-1.405953,88,0.732137,1,20.0,-0.635405
2018-01-22 00:00:00,0.567682,1.924612,-0.880224,88,0.076769,1,21.0,1.092567
2018-01-23 00:00:00,-0.725533,-1.232331,-0.346924,88,1.315812,1,22.0,0.894098
2018-01-24 00:00:00,0.580702,-0.945337,-0.31597,88,-0.673356,1,23.0,-0.548959
2018-01-25 00:00:00,-1.777106,-0.745017,-0.05095,88,-0.280202,1,24.0,1.323974
2018-01-26 00:00:00,-0.01466,0.502874,0.912951,88,-2.575828,1,25.0,-0.007372
2018-01-27 00:00:00,0.190303,0.274241,-0.521842,88,2.653538,1,26.0,0.052189
2018-01-28 00:00:00,0.235417,-0.329355,0.521964,88,0.094985,1,27.0,-0.077536
2018-01-29 00:00:00,-1.102345,-0.46188,0.83182,88,0.433378,1,28.0,0.509152
2018-01-30 00:00:00,-0.352768,-0.559078,-0.753116,88,-0.245984,1,29.0,0.197225
2018-01-31 00:00:00,0.054269,-0.367949,-1.617344,88,-1.433354,1,30.0,-0.019968
2018-02-01 00:00:00,1.255137,0.052891,-0.271125,88,0.828959,1,31.0,0.066385
2018-02-02 00:00:00,-0.854061,0.378984,1.100645,88,-2.064395,1,32.0,-0.323675
2018-02-03 00:00:00,0.637643,-0.951046,0.062463,88,1.663563,1,33.0,-0.606428
2018-02-04 00:00:00,-0.73531,0.595444,1.115065,88,1.332046,1,34.0,-0.437836
2018-02-05 00:00:00,-0.038372,0.919876,-2.425576,88,-0.762955,1,35.0,-0.035297
2018-02-06 00:00:00,1.508271,-1.13298,-0.802247,88,-0.615191,1,36.0,-1.708841
2018-02-07 00:00:00,0.780191,-2.687611,-0.287218,88,0.28743,1,37.0,-2.096849
2018-02-08 00:00:00,0.195156,-3.126514,-0.849156,88,-1.541134,1,38.0,-0.610158
2018-02-09 00:00:00,-2.149658,0.491192,0.574046,88,0.295003,1,39.0,-1.055894
2018-02-10 00:00:00,-0.391872,1.324012,-1.416008,88,-1.046895,1,40.0,-0.518844
2018-02-11 00:00:00,-0.745174,-0.825942,-0.067235,88,-0.231587,1,41.0,0.615471
2018-02-12 00:00:00,-0.295342,-1.233813,-0.044365,88,0.832395,1,42.0,0.364397
2018-02-13 00:00:00,-0.109977,-2.162667,0.538204,88,0.308714,1,43.0,0.237843
2018-02-14 00:00:00,-0.133148,0.845862,-0.840802,88,0.063755,1,44.0,-0.112625
2018-02-15 00:00:00,0.759036,-1.66408,-0.532248,88,2.216254,1,45.0,-1.263096
2018-02-16 00:00:00,-0.323156,0.287707,1.405686,88,0.248209,1,46.0,-0.092974
2018-02-17 00:00:00,1.019289,-0.597731,0.382253,88,-1.632048,1,47.0,-0.609261
2018-02-18 00:00:00,-1.482014,-0.306411,0.959739,88,-0.273556,1,48.0,0.454106
2018-02-19 00:00:00,0.51,-0.174594,-0.246726,88,0.793497,1,49.0,-0.089043
2018-02-20 00:00:00,1.573552,-0.79281,-0.261682,88,0.138917,1,50.0,-1.247527
2018-02-21 00:00:00,-0.381828,0.700537,-0.117785,88,-0.164615,1,51.0,-0.267485
2018-02-22 00:00:00,-0.460569,-0.447233,-0.931238,88,0.32374,1,52.0,0.205981
2018-02-23 00:00:00,0.660039,0.086511,0.418947,88,0.20265,1,53.0,0.057101
2018-02-24 00:00:00,-1.150562,-0.962617,1.051035,88,0.521411,1,54.0,1.107551
2018-02-25 00:00:00,-0.077029,1.57097,-0.480498,88,-1.188839,1,55.0,-0.121011
2018-02-26 00:00:00,0.3825,0.34689,-0.313632,88,-0.099881,1,56.0,0.132686
2018-02-27 00:00:00,0.610617,0.090852,-1.485142,88,0.119321,1,57.0,0.055476
2018-02-28 00:00:00,1.21079,0.33762,-1.029446,88,-0.82482,1,58.0,0.408787
2018-03-01 00:00:00,0.980337,1.084067,0.732386,88,0.238529,1,59.0,1.062750

In [66]:
grupo.loc['f2']

   A                    B    C  D      E       F   G  Produto
0  7  2019-01-01 00:00:00  1.0  3   test  Python NaN      NaN
1  7  2019-01-01 00:00:00  1.0  3  train  Python NaN      NaN
2  7  2019-01-01 00:00:00  1.0  3   test  Python NaN      NaN
3  7  2019-01-01 00:00:00  1.0  3  train  Python NaN      NaN

In [68]:
g2 = df.append(df2)

/tmp/ipykernel_37268/1397173202.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  g2 = df.append(df2)

In [69]:
g2

,A,B,C,D,E,F,G,Produto
2018-01-01 00:00:00,1.105648,1.036463,0.879974,88,0.721171,1,0.0,1.145964
2018-01-02 00:00:00,0.858912,-0.7829,-0.465890,88,-0.835431,1,1.0,-0.672443
2018-01-03 00:00:00,0.639966,-0.535812,1.020331,88,-1.241142,1,2.0,-0.342902
2018-01-04 00:00:00,1.267787,1.380189,-0.453648,88,-0.141287,1,3.0,1.749785
2018-01-05 00:00:00,0.281303,-0.195528,-0.275791,88,-0.629233,1,4.0,-0.055003
...,...,...,...,...,...,...,...,...
2018-03-01 00:00:00,0.980337,1.084067,0.732386,88,0.238529,1,59.0,1.062750
0,7.000000,2019-01-01 00:00:00,1.000000,3,test,Python,NaN,NaN
1,7.000000,2019-01-01 00:00:00,1.000000,3,train,Python,NaN,NaN
2,7.000000,2019-01-01 00:00:00,1.000000,3,test,Python,NaN,NaN
3,7.000000,2019-01-01 00:00:00,1.000000,3,train,Python,NaN,NaN

In [70]:
g2.append(df3)

/tmp/ipykernel_37268/3953226340.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  g2.append(df3)

,A,B,C,D,E,F,G,Produto
2018-01-01 00:00:00,1.105648,1.036463,0.879974,88,0.721171,1,0.0,1.145964
2018-01-02 00:00:00,0.858912,-0.7829,-0.46589,88,-0.835431,1,1.0,-0.672443
2018-01-03 00:00:00,0.639966,-0.535812,1.020331,88,-1.241142,1,2.0,-0.342902
2018-01-04 00:00:00,1.267787,1.380189,-0.453648,88,-0.141287,1,3.0,1.749785
2018-01-05 00:00:00,0.281303,-0.195528,-0.275791,88,-0.629233,1,4.0,-0.055003
...,...,...,...,...,...,...,...,...
3,7.0,2019-01-01 00:00:00,1.0,3,train,Python,NaN,NaN
8,A8,B8,C8,D8,NaN,NaN,NaN,NaN
8,A9,B9,C9,D9,NaN,NaN,NaN,NaN
10,A10,B10,C10,D10,NaN,NaN,NaN,NaN
11,A11,B11,C11,D11,NaN,NaN,NaN,NaN